*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
body{
    background-color: #313237;
}
li, a, button{
font-weight: 500px;
font-size: 16px;
color: #EAEAEA;
text-decoration: none;
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
.divhome{
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    align-items: center;
}
.h1home{
    font-size: 6vh;
    background-color: #F6B915;
    position: absolute;
    border-radius: 10px;
    border: #F6B915 solid 10px;
    width: 500px;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.divhome div{
    margin-top: 300px;
width: 600px;
clear: both;
height: 500px;
text-align: center;
}
.convite{
    height: 50vh;
    border-radius: 10px;
    border: solid 5px #001646;
    display: inline;
}
.h1rec{
    display: inline-block;
  background-color: #F6B915;
  margin-top: 250px;
  margin-left: 30%;
  padding: 9px 26px;
  border-radius: 20px;
  border:#F6B915 solid 2px;
  font-size: 40px;
}
.logo{
    width: 110px;
    float: left;
}
header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 5%;
height: 80px;
width: 100%;
position: fixed;
background-color: #24252A;
z-index: 20;
}
header ul{
    list-style: none;

}
header ul li{
   display: inline-block;
   padding: 0px 20px;
}
header ul li a{
    transition: all 0.3s ease 0s;
    
}
header ul li a:hover{
    color: rgba(255, 255, 255,0.6)
}
button{
    padding: 9px 26px;
    background-color: rgba(246, 185, 21, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(246, 185, 21, 0.8);
}
.mainhome{
    background-image: url(../img/7214953.jpg);
    background-position:center 10%;
    background-size:cover;
    height:94vh;
}
.imgrec{
    background-image: url(../img/receita3.jpeg);
    background-position:center 10%;
    background-size:cover;
     height:100vh;
}
main{
    height: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
}
main article ul{
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 10px;
}
main article ul li{
   
    background-color: #F6B915;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5%;
    margin-left: 5%;
    border: #F6B915 solid 8px;
    width: 316px;
}
main article ul li img{
    display: block;
}
footer{
position:relative;
bottom: 0;
left: 0;
right: 0;
height:auto;
width: 100%;
color: #EAEAEA;
background-color: #24252A;
padding-left: 3px;
padding-top: 3px;
padding-bottom: 3px;
text-align: center;
}
footer img{
    height: 48px;
}